<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="logDir" value="D:/workspace/spring-boot-examples/spring-boot-mybatis-dynamic-datasource/logs"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[PLAYGROUND][%highlight(%-5p)][%boldMagenta(%date{ISO8601})][%t] %cyan(%logger{100}.%M:%L) %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"></appender-ref>
    </root>
</configuration>